{% extends "notes/home.html"%}
{% load static %}
{% block content %}
    <div class="container-xxl">
        <p>
            <a href="{% url 'notes:notes' %}" class="btn btn-primary btn-lg">Back to notes</a>
            <br>
        </p>
        <div class="card shadow-sm">
            <div class="card-body">
            <h2>Create Note</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}

                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">{{ form.title.label_tag }}</span>
                    {{ form.title }}
                    {{ form.title.errors }}
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">{{ form.description.label_tag }}</span>
                    {{ form.description }}
                    {{ form.description.errors }}
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">{{ form.reminder.label_tag }}</span>
                    {{ form.reminder }}
                    {{ form.reminder.errors }}
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">{{ form.category.label_tag }}</span>
                    {{ form.category }}
                    {{ form.category.errors }}
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">{{ form.group.label_tag }}</span>
                    {{ form.group }}
                    {{ form.group.errors }}
                    <div class="form-text">Leave blank if you want to create a personal note.</div>
                </div>
                <p>
                    <a href="{% url 'notes:create_group' %}" class="btn btn-sm btn-outline-primary">Add group</a>
                </p>

                <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>
    </div>
    {% endblock %}
</body>