{% extends "notes/home.html"%}
{% load static %}
{% block content %}
    <div class="container-xxl">
        <p>
            <a href="{% url 'notes:notes' %}" class="btn btn-primary btn-lg">Back to notes</a>
            <br>
        </p>
        <div class="card">
            <div class="card-body">
                    <h2>{{ note.title }}</h2>
                    <p><strong>Desciption:</strong>
                        {{ note.description }}
                    </p>

                    {% if note.reminder %}
                        <p><strong>Reminder:</strong> {{ note.reminder }}</p>
                    {% endif %}

                    {% if note.category %}
                        <p><strong>Category:</strong> {{ note.category.name }}</p>
                    {% endif %}

                    {% if note.group %}
                        <p><strong>Group:</strong> {{ note.group.name }}</p>
                    {% else %}
                        <p><strong>Group:</strong> <span class="text-muted">Personal note</span></p>
                    {% endif %}

                    <a href="{% url 'notes:note_edit' note.pk %}" class="btn btn-primary">Edit</a>
            </div>
        </div>
    </div>
{% endblock %}